<div class="display-recipe">
    <div class="recipe-name">
      <h1><%= @recipe.name %></h1>
    </div>

   <!--  <header> -->

  <div class="current-recipe">
    <div class="recipe-information">


    <div class="to-edit">

      <ul>
        <li><a href="/recipes/<%= @recipe.id %>/delete">Delete Recipe</a></li>
        <li><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></li>
      </ul>
    <% unless @recipe.cook_time =~ /invalid/i || @recipe.cook_time.nil? %>
      <p><strong>Cook time:</strong> <%= @recipe.cook_time %></p>
    <% end %>
    <% unless @recipe.filters == [] %>
      <p><strong>Meal Type</strong> <%= @recipe.filters.join(', ') %></p>
    <% end %>

    </div>

    <!-- </header> -->


    <h2>Ingredients</h2>
    <ul class="ingredient-list">
      <% @recipe.ingredients.each do |ingredient| %>
        <% testing = ingredient.name %>
      <% if testing.start_with?('<a') %>
        <% noo_link = testing.scan(/\".+\"/i)[0][1..-2] %>
      <% remove_link = testing.scan(/>{1}[a-z '"]+/i)[0][1..-1] %>
        <li><a href="<%= noo_link %>" target="_blank"><%= remove_link %></a></li>
      <% else %>
        <li><%= ingredient.name %></li>
        <% end %>
      <% end %>
    </ul>
    <div class="directions">
    <h2>Directions</h2>
    <ol>
      <% @recipe.steps.each do |step| %>
        <li><%= step.name %></li>
      <% end %>
    </ol>
  </div>
  </div>
</div>
</div>
