<div class="lets-edit">


<form action="/recipes/<%= @recipe.id %>/edit" method="post">
  <fieldset>
    <dl>
      <dt><label for="name">Recipe Name</label></dt>
      <dd><input type="text" name="name" id="name" value="<%= @recipe.name %>"></dd>

      <dt><label for="time">Recipe Cook Time</label></dt>
      <dd>
        <input type="text" name="time" id="time" value="<%= @recipe.cook_time %>"></dd>

      <dt><label for="ingredient">Ingredients</label></dt>
      <% @recipe.ingredients.each do |ingredient| %>
        <dd><input class="ingredient" type="text" name="<%= ingredient.id %>" value="<%= ingredient.name %>"></dd>
        <dd class="ingredient edit-delete" ><a href="/recipes/<%= @recipe.id %>/ingredients/<%= ingredient.id %>/delete">Delete</a></dd>
      <% end %>


      <a class="addz" href="/recipes/<%= @recipe.id %>/ingredients/add">Add</a>

      <dt><label for="steps">Steps</label></dt>
      <% @recipe.steps.each do |step| %>
        <dd><input class="steps" type="text" name="<%= step.id %>" value="<%= step.name %>"></dd>
        <dd class="ingredient edit-delete" ><a href="/recipes/<%= @recipe.id %>/steps/<%= step.id %>/delete">Delete</a></dd>
      <% end %>
      <div class="add-button"><a href="/recipes/<%= @recipe.id %>/steps/add">Add</a></div>
    </dl>
    <div class="save-button">
    <input type="submit" value="Save">
  </div>
  </fieldset>
</form>


</div>
