<header>
  <h1><a href="/"><%= @recipe.name %></a></h1>
  <p>Cook time: <%= @recipe.cook_time %></p>
  <ul class= "edit-recipe">
    <li><a href="/recipes/<%= @recipe.name %>/delete">Delete Recipe</a></li>
    <li><a class ="edit" href="/recipes/<%= @recipe.name %>/edit">Edit Recipe</a></li>
  </ul>
</header>

<h3>Ingredients</h3>
<ul class="ingredient-list">
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>
<h3>Directions</h3>
<ol>
  <% @recipe.steps.each do |step| %>
    <li><%= step.name %></li>
  <% end %>
</ol>
